{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'products:list' as product_list_url %}
{% url 'register' as register_url %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ home_url }}">
        {% if brand_name %}
            {{ brand_name }}
        {% else %}
            Biren Ecommerce 
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item {% if request.path == home_url %} active {% endif %}">
          <a class="nav-link" aria-current="page" href="{{ home_url }}">Home</a>
        </li>

        <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
          <a class="nav-link" href="{{ contact_url }}">Contact</a>
        </li>

        {% if request.is_authenticate %}
            <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                <a class="nav-link " href="{{ login_url }}">Logout</a>
            </li>

        {% else %}
            <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                <a class="nav-link " href="{{ login_url }}">Login</a>
            </li>

            <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                <a class="nav-link " href="{{ register_url }}">Register</a>
            </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == product_list_url %} active {% endif %}" href="{{ product_list_url }}" tabindex="-1" aria-disabled="true">Products</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>